<h1 class="title"><%= @board.title %></h1>

<div class="columns">
    <%= for col <- @board.columns do %>
        <div class="column">
            <h2 class="subtitle"><%= col.title %></h2>
            <%= for pile <- col.piles do %>
                <%= render(BoardView, "pile.html", pile: pile) %>
            <% end %>
        </div>
    <% end %>
</div>